/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

/* scss header */
header {
  width: 100%;
  height: 25%;
}
header .navbar-expand-lg {
  padding: 0%;
}
header .navbar-expand-lg .container-fluid {
  justify-content: space-between;
  align-items: left;
  padding: 5%;
}
header .navbar-expand-lg .container-fluid .logo {
  text-align: center;
  height: 10%;
  justify-content: center;
}
header .navbar-expand-lg .container-fluid .logo .titulo {
  font-size: 35px;
  color: #949494;
  height: 80%;
  font-family: "Train One", system-ui;
  font-style: italic;
  text-decoration: none;
}
header .navbar-expand-lg .container-fluid .logo .substitulo {
  font-size: 18px;
  color: #949494;
  font-family: "Train One", system-ui;
  font-style: italic;
  font-weight: 580;
}
header .navbar-expand-lg .container-fluid .menu-button {
  border: 0;
}
header .navbar-expand-lg .container-fluid .menu-button:focus {
  box-shadow: none;
}
header .navbar-expand-lg .container-fluid .navbar-toggler-icon {
  background-image: url(../assets/img/icono-menu-hamburguesa.png);
}
header .navbar-expand-lg .container-fluid .navbar-collapse {
  flex-grow: 0;
}
header .navbar-expand-lg .container-fluid .navbar-collapse .barra {
  font-size: 22px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
}
header .navbar-expand-lg .container-fluid .navbar-collapse .barra ul {
  list-style-type: none;
  padding-left: 0%;
  padding: 0%;
}
header .navbar-expand-lg .container-fluid .navbar-collapse .barra ul .nav-link {
  color: #949494;
}
header .navbar-expand-lg .container-fluid .navbar-collapse .barra ul .nav-link:hover {
  color: red;
  text-decoration: underline;
}
header .itemsheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .itemsheader .logo {
  margin-top: 5%;
  text-align: center;
  height: 10%;
  justify-content: center;
}
header .itemsheader .logo .titulo {
  font-size: 35px;
  color: #949494;
  height: 80%;
  font-family: "Train One", system-ui;
  font-style: italic;
}
header .itemsheader .logo .substitulo {
  font-size: 18px;
  color: #949494;
  font-family: "Train One", system-ui;
  font-style: italic;
  font-weight: 580;
}
header .itemsheader .barra {
  font-size: 22px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue", sans-serif;
}
header .itemsheader .barra ul {
  list-style-type: none;
  padding-left: 0%;
  padding: 0%;
}
header .itemsheader .barra ul .nav-link {
  color: #949494;
}
header .itemsheader .barra ul .nav-link:hover {
  color: red;
  text-decoration: underline;
}

/* scss footer */
footer {
  width: 100%;
  height: 25%;
  text-align: center;
}
footer .titulofooter {
  text-align: center;
  height: 20%;
  width: 100%;
  margin-bottom: 2%;
}
footer .titulofooter .titulo {
  font-size: 35px;
  -webkit-text-fill-color: #ffffff;
  height: 80%;
  font-family: "Train One", system-ui;
  font-style: italic;
}
footer .titulofooter .substitulo {
  font-size: 18px;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
}
footer .suscripcion {
  -webkit-text-fill-color: #979393;
  align-self: center;
  align-content: center;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5%;
  font-family: "Bebas Neue", sans-serif;
  width: 50%;
}
footer .suscripcion .cartelsus {
  font-size: 15px;
  margin-top: 5%;
}
footer .suscripcion .rellenar {
  display: flex;
  width: 100%;
}
footer .suscripcion .rellenar .email {
  width: 70%;
  font-size: 15px;
}
footer .suscripcion .rellenar .boton {
  width: 30%;
  font-size: 15px;
}
footer .copy {
  width: 100%;
  font-size: 16px;
  -webkit-text-fill-color: #979393;
  margin-top: 5%;
  font-family: "Bebas Neue", sans-serif;
}

/* SCSS INDEX*/
/* header index */
.container-index {
  background-image: url(../assets/img/header-kanye.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main index */
main .productos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 80px 0px;
  align-items: center;
}
main .productos .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  font-family: "Bebas Neue", sans-serif;
}
main .productos .cards .col {
  width: 60%;
  height: 60%;
  margin-bottom: 5%;
}
main .productos .cards .col .forum {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .productos .cards .col .forum .descuento {
  font-weight: bold;
  height: 7%;
  width: 30%;
  position: relative;
  margin: 10%;
  font-size: 21px;
}
main .productos .cards .col .forum .bb {
  width: 90%;
  height: 50%;
  margin-top: -8%;
}
main .productos .cards .col .forum .nombreproducto {
  font-size: 19px;
}
main .productos .cards .col .forum .precioproducto {
  font-size: 16px;
}
main .productos .cards .col .forum .comprar {
  margin-bottom: 5%;
}
main .productos .cards .col .forum .comprar button {
  background-color: #460075;
  border-color: #460075;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .productos .cards .col .travis {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .productos .cards .col .travis .descuento {
  font-weight: bold;
  height: 3%;
  width: 30%;
  position: relative;
  margin: 10%;
  font-size: 21px;
}
main .productos .cards .col .travis .am1index {
  width: 70%;
  height: 27%;
  margin-top: 25%;
  margin-bottom: 2%;
}
main .productos .cards .col .travis .nombreproducto {
  font-size: 19px;
}
main .productos .cards .col .travis .precioproducto {
  font-size: 16px;
}
main .productos .cards .col .travis .comprar {
  margin-bottom: 5%;
}
main .productos .cards .col .travis .comprar a {
  background-color: #460075;
  border-color: #460075;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .productos .cards .col .stussy {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .productos .cards .col .stussy .descuento {
  font-weight: bold;
  height: 3%;
  width: 30%;
  position: relative;
  margin: 10%;
  font-size: 21px;
}
main .productos .cards .col .stussy .stsy {
  width: 60%;
  height: 40%;
  margin-top: 10%;
}
main .productos .cards .col .stussy .nombreproducto {
  font-size: 19px;
}
main .productos .cards .col .stussy .precioproducto {
  font-size: 16px;
}
main .productos .cards .col .stussy .comprar {
  margin-bottom: 5%;
}
main .productos .cards .col .stussy .comprar a {
  background-color: #460075;
  border-color: #460075;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .productos .cards .col .zip {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .productos .cards .col .zip .descuento {
  font-weight: bold;
  height: 3%;
  width: 30%;
  position: relative;
  margin: 10%;
  font-size: 21px;
}
main .productos .cards .col .zip .zippr {
  width: 55%;
  height: 45%;
  margin-top: 8%;
  margin-bottom: -4%;
}
main .productos .cards .col .zip .nombreproducto {
  font-size: 19px;
}
main .productos .cards .col .zip .precioproducto {
  font-size: 16px;
}
main .productos .cards .col .zip .comprar {
  margin-bottom: 5%;
}
main .productos .cards .col .zip .comprar a {
  background-color: #460075;
  border-color: #460075;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .productosmenu {
  text-align: center;
  list-style-type: none;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 5%;
}
main .productosmenu .nav-link {
  color: #222222;
}
main .productosmenu .nav-link:hover {
  color: red;
  text-decoration: underline;
}

/* footer index */
.fondo-footer-index {
  background-color: #460075;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding-top: 5%;
}

/* scss productos */
/* header productos*/
.container-productos {
  background-image: url(../assets/img/header-drake.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main productos*/
main .col .forum .comprar-productos {
  margin-bottom: 5%;
}
main .col .forum .comprar-productos button {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .travis .comprar-productos {
  margin-bottom: 5%;
}
main .col .travis .comprar-productos a {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .stussy .comprar-productos {
  margin-bottom: 5%;
}
main .col .stussy .comprar-productos a {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .zip .comprar-productos {
  margin-bottom: 5%;
}
main .col .zip .comprar-productos a {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .balaclava {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .col .balaclava .sprm {
  width: 90%;
  height: 40%;
  margin-top: 32%;
  margin-bottom: 2%;
}
main .col .balaclava .nombreproducto {
  font-size: 19px;
}
main .col .balaclava .precioproducto {
  font-size: 16px;
}
main .col .balaclava .comprar-productos {
  margin-bottom: 5%;
}
main .col .balaclava .comprar-productos a {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .bearbrick {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .col .bearbrick .brb {
  width: 65%;
  height: 40%;
  margin-top: 35%;
  margin-bottom: -1%;
}
main .col .bearbrick .nombreproducto {
  font-size: 19px;
}
main .col .bearbrick .precioproducto {
  font-size: 16px;
}
main .col .bearbrick .comprar-productos {
  margin-bottom: 5%;
}
main .col .bearbrick .comprar-productos a {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .jarritos {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .col .jarritos .jarritospr {
  width: 80%;
  height: 50%;
  margin-top: 33%;
  margin-bottom: -10%;
}
main .col .jarritos .nombreproducto {
  font-size: 19px;
}
main .col .jarritos .precioproducto {
  font-size: 16px;
}
main .col .jarritos .comprar-productos {
  margin-bottom: 5%;
}
main .col .jarritos .comprar-productos a {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .col .beanie {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 20px;
  overflow: hidden;
}
main .col .beanie .beaniepr {
  width: 80%;
  height: 40%;
  margin-top: 32%;
  margin-bottom: 2%;
}
main .col .beanie .nombreproducto {
  font-size: 19px;
}
main .col .beanie .precioproducto {
  font-size: 16px;
}
main .col .beanie .comprar-productos {
  margin-bottom: 5%;
}
main .col .beanie .comprar-productos button {
  background-color: #2e1c08;
  border-color: #2e1c08;
  -webkit-text-fill-color: rgb(218, 218, 218);
}
main .morepr {
  text-align: center;
  width: 100%;
}

/* footer productos*/
.fondo-footer-productos {
  margin-top: 5%;
  padding-top: 5%;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
  background-color: #2e1c08;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scss preguntas */
/* header preguntas*/
.container-preguntas {
  background-image: url(../assets/img/barderos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main preguntas*/
.main-preguntas {
  list-style: none;
  padding: 10%;
  text-align: left;
  width: 100%;
  height: 50%;
}
.main-preguntas .preguntapre {
  font-size: 20px;
}
.main-preguntas .accordion-header {
  color: aqua;
}
.main-preguntas #accordionExample {
  padding: 10%;
}
.main-preguntas #accordionExample .accordion-body {
  display: flex;
}
.main-preguntas #accordionExample .accordion-body .foto-envios {
  width: 50%;
}
.main-preguntas #accordionExample .accordion-body .foto-no {
  width: 50%;
}
.main-preguntas #accordionExample .accordion-body .foto-pago {
  width: 50%;
}
.main-preguntas #accordionExample .accordion-body h3 {
  font-size: 15px;
  width: 100%;
}

/* footer preguntas*/
.footerpre {
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  background-color: #141630;
  display: flex;
  flex-direction: column;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
}
.footerpre .fondo-footer-preguntas {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scss nosotros */
/* header nosotros */
.container-nosotros {
  background-image: url(../assets/img/ysy-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main nosotros */
.main-nos {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-nos #titulo-nosotros {
  font-size: 30px;
}

/* footer nosotros */
.fondo-footer-nosotros {
  padding-top: 5%;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
  background-color: rgb(100, 0, 139);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scss contacto */
/* header contacto*/
.container-contacto {
  background-image: url(../assets/img/header-neo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main contacto*/
.main-contacto {
  text-align: center;
  width: 100%;
}
.main-contacto .contactoscon {
  margin-top: 5%;
  font-size: 25px;
}
.main-contacto .cardscontacto {
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-contacto .cardscontacto .card {
  width: 50%;
  margin-top: 2%;
  margin-bottom: 0%;
}
.main-contacto .cardscontacto .card .card-title {
  font-size: 22px;
}
.main-contacto .cardscontacto #carouselExampleAutoplaying {
  width: 50%;
  margin-top: 2%;
}

/* footer contacto*/
.fondo-footer-contacto {
  margin-top: 5%;
  padding-top: 5%;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
  background-color: rgba(15, 26, 182, 0.9529411765);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scss pago */
/* header pago*/
.container-pago {
  background-image: url(../assets/img/header-pago.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main pago*/
.main-pago {
  text-align: center;
  margin: 19%;
}
.main-pago .formulario {
  width: 100%;
  display: grid;
  font-size: 10px;
  font-size: 15px;
}
.main-pago .formulario .cartel1pago {
  font-size: 30px;
}
.main-pago .formulario .cartel2 {
  font-size: 20px;
}
.main-pago .formulario .datospago {
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.main-pago .formulario .felx {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}
.main-pago .formulario .felx .deptopago {
  width: 50%;
}
.main-pago .formulario .productosmenupago {
  list-style: none;
}
.main-pago .formulario #form {
  font-size: 20px;
}
.main-pago .formulario .enviar {
  margin-bottom: 5%;
}
.main-pago .formulario .enviar a {
  background-color: #0f0f0f;
  border-color: #0f0f0f;
  -webkit-text-fill-color: rgb(218, 218, 218);
}

/* footer pago*/
.fondo-footer-pago {
  margin-top: 5%;
  padding-top: 5%;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* scss pagado */
/* header pagado*/
.container-pagado {
  background-image: url(../assets/img/header-pagado.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* main pagado*/
.main-pagado {
  margin-top: 40%;
  margin-bottom: 40%;
  text-align: center;
}
.main-pagado #cardpagado {
  width: 90%;
  margin: 13%;
}

/* footer pagado*/
.fondo-footer-pagado {
  margin-top: 5%;
  padding-top: 5%;
  -webkit-text-fill-color: #ffffff;
  font-family: "Train One", system-ui;
  font-style: italic;
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* mediaquery scss*/
@media screen and (min-width: 768px) {
  header .container-fluid {
    flex-direction: row;
    padding: 5%;
  }
  header .container-fluid .logo {
    text-align: center;
    height: 10%;
    justify-content: center;
  }
  header .container-fluid .barra {
    font-size: 20px;
  }
  header .container-fluid .barra ul {
    list-style-type: none;
  }
  main .productos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 80px 0px;
    align-items: center;
  }
  main .productos .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10%;
    padding: 10%;
  }
  main .productos .cards .col {
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    font-size: 15px;
  }
  main .productos .cards .col #descuento {
    width: 10%;
  }
  main .productos .cards .col #nombreproducto {
    font-size: 24px;
  }
  main .productos .cards .col #precioproducto {
    font-size: 21px;
  }
  .main-preguntas .preguntapre {
    font-size: 25px;
  }
  .main-contacto {
    justify-items: center;
    margin-bottom: 20%;
  }
  .main-contacto .cardscontacto {
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .main-contacto .cardscontacto .card {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .main-contacto .cardscontacto #carouselExampleAutoplaying {
    width: 50%;
    margin-top: 2%;
  }
  .main-pago .cartel1pago {
    font-size: 20px;
  }
  .main-pago .cartel2 {
    font-size: 17px;
  }
  footer .suscripcion {
    width: 40%;
  }
  footer .suscripcion .rellenar .email {
    width: 85%;
  }
  footer .suscripcion .rellenar .boton {
    width: 15%;
  }
}
@media screen and (min-width: 1024px) {
  header .container-fluid {
    flex-direction: row-reverse;
    padding: 5%;
  }
  header .container-fluid .logo {
    text-align: center;
    height: 10%;
    justify-content: center;
  }
  header .container-fluid .barra {
    font-size: 20px;
  }
  header .container-fluid .barra ul {
    list-style-type: none;
  }
  main .productos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 80px 0px;
    align-items: center;
  }
  main .productos .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 5%;
    padding: 5%;
  }
  main .productos .cards .col {
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    font-size: 10px;
  }
  main .productos .cards .col #descuento {
    font-size: 20px;
    width: 8%;
    margin: 2%;
  }
  main .productos .cards .col #nombreproducto {
    font-size: 20px;
  }
  main .productos .cards .col #precioproducto {
    font-size: 17px;
  }
  .main-preguntas .preguntapre {
    font-size: 30px;
  }
  .main-contacto {
    justify-items: center;
  }
  .main-contacto .cardscontacto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .main-contacto .cardscontacto .card {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 0%;
  }
  .main-contacto .cardscontacto #carouselExampleAutoplaying {
    width: 50%;
    margin-top: 2%;
  }
  .main-pagado {
    margin-top: 10%;
    text-align: center;
  }
  .footer-pagado {
    margin-top: 10%;
  }
  footer .suscripcion {
    width: 35%;
  }
  footer .suscripcion .rellenar .email {
    width: 85%;
  }
  footer .suscripcion .rellenar .boton {
    width: 15%;
  }
}

/*# sourceMappingURL=main.css.map */
