
/* RESET */
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
*/


/* INDEX*/

/* HEADER INDEX*/
/*.itemsheader{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.headerindex {
    width: 100%;
    height: 25%;
}

.fondo-header-index{
    background-image: url(./assets/img/header-kanye.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#logo {
    
    text-align: center;
    height: 10%;
    justify-content: center;
}

#titulo {
    font-size: 35px;
    -webkit-text-fill-color: #ffffff;
    height: 80%;
    font-family: 'Train One', system-ui;
    font-style: italic;

}

#substitulo {
    font-size: 18px;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
}

*/




/* MENU INDEX*/
/*
#barra{
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
}   
ul{
    list-style-type: none;
    padding-left: 0%;
    padding: 0%;
}
    */
/* MAIN INDEX*/
/*
.productos{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 80px 0px;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 10px;
    font-family: 'Bebas Neue', sans-serif;
}
.col{
    width: 60%;
    height: 60%;
    margin-bottom: 5%;
}
#nombreproducto{
    font-size: 19px;
}
#precioproducto{
    font-size: 16px;
}





.productosmenu {
    text-align: center;
    list-style-type: none;
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 5%;
}
*/
/* FOOTER INDEX*/
/*
.footerindex {
    width: 100%;
    height: 25%;
    text-align: center;
}
.fondo-footer-index{
    background-color: #460075;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
*7
/* LOGO FOOTER INDEX*/
/*
#titulofooter{
    text-align: center;
    height: 20%;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 2%;
}
*/

/* INFO FOOTER */
/*
#suscripcion {
    -webkit-text-fill-color: #979393;
    align-self: center;
    font-size: 10px;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    width: 70%;
}

#email{
    width: 90%;
}
#cartelsus{
    font-size: 15px;
    margin-top: 5%;
}
#rellenar{
    display: flex;
}

#copy {
    width: 100%;
    font-size: 16px;
    -webkit-text-fill-color: #979393;
    margin-top: 5%;
    font-family: 'Bebas Neue', sans-serif;
}

*/

/*PRODUCTOS*/

/* HEADER PRODUCTOS*/


/*
.headerpr {
    width: 100%;
    height: 25%;
    background-image: url(./assets/img/header-drake.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulopr {
    text-align: center;
    height: 10%;
    justify-content: center;
}

*/


/* MAIN PRODUCTOS */
/*
.forum{
    
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
    
}
*/
/*
.travis{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
}
.stussy{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
}
.zip{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
}



.jarritos{
    
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
    
}

.beanie{
    
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
    
}
.balaclava{
    
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
    
}
.bearbrick{
    
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 20px;
    overflow: hidden;
    
}

*/


/* FOTOS PRODUCTOS */

/*
#bb {
    width: 90%;
    height: 50%;
    margin-top: 8%;
}
*/
/*
#sprm {
    width: 90%;
    height: 40%;
    margin-top: 20%;
    
    
}

#stsy {
    width: 60%;
    height: 40%;
    margin-top: 21%;
}


#brb {
    width: 65%;
    height: 40%;
    margin-top: 23%;
    margin-bottom: -1%;
}


#jarritospr {
    width: 80%;
    height: 50%;
    margin-top: 18%;
    margin-bottom: -12%;
}


#am1index {
    width: 70%;
    height: 27%;
    margin-top: 35%;
    margin-bottom: 1%;
}

#beaniepr {
    width: 80%;
    height: 40%;
    margin-top: 20%;
    
}

#zippr {
    width: 55%;
    height: 45%;
    margin-top: 19%;
    margin-bottom: -4%;
}
*/


/* DESCUENTOS PRODUCTOS */

/*
#descuento {
    font-weight: bold;
    height: 3%;
    width: 29%;
    position: absolute;
    margin: 1%;
    font-size: 21px;
}
*/
/*
#boton-comprar{
    margin-bottom: 5%;
}

.morepr {
    text-align: center;
    width: 100%;
}
*/
/* FOOTER PRODUCTOS */






/* LOGO FOOTER INDEX*/

/*
.footer-productos {
    width: 100%;
    height: 25%;
    align-items: center;
    background-color: #2e1c08;
    margin: 50px 0px 0px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
*/
/* LOGO FOOTER PRODUCTOS */









/* PREGUNTAS*/

/* HEADER PREGUNTAS */

/*
.headerpre {
    background-image: url(./assets/img/header-harakiri.png);
    width: 100%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
*/











/* MAIN PREGUNTAS */
/*
.mainpreguntas {
    list-style: none;
    padding: 10%;
    text-align: left;
    width: 100%;
    height: 50%;
}
.preguntapre{
    font-size: 20px;
}
#accordionExample{
    padding: 10%;
}
*/


/* FOOTER PREGUNTAS */

/*

.footerpre {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    margin: 24px 0px 0px 0px;
    background-color: #5e0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*/








/* NOSOTROS */
/* HEADER NOSOTROS */
/*
.headernos {
    width: 100%;
    height: 25%;
    background-image: url(./assets/img/header-ysy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
*/
/* MAIN NOSOTROS */
/*
.main-nos{
    padding: 10%;
    margin-left: 15%;
}

#carta{
    width: 100%;

}
*/
/* FOOTER NOSOTROS */








/*
.footernos {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    margin: 108px 0px 0px 0px;
    background-color: rgb(65, 0, 139);
    display: flex;
    flex-direction: column;
    align-items: center;
}

*/







/* CONTACTO */
/* HEADER CONTACTO */
/*
.headercon {
    width: 100%;
    height: 25%;
    background-image: url(./assets/img/header-neo.png);
    background-repeat: no-repeat;
    background-size: cover;

}
*/

/* MAIN CONTACTO */
/*
.main {
    text-align: center;
    width: 100%;
}
.contactoscon{
    margin-top: 5%;
}
.card{
    margin: 5%;
}
*/

/* FOOTER CONTACTO */
/*
.footercon {
    width: 100%;
    height: 25%;
    align-items: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0f1ab6f3;
}


*/








/* PAGO */
/* HEADER PAGO */
/*
.headerpago {
    width: 100%;
    height: 25%;
    background-image: url(./assets/img/header-pago.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/


/* MAIN PAGO */
/*
.mainpago{
    text-align: center;
    margin: 19%;
}
.formulario{
    width: 100%;
    display: grid;
    font-size: 10px;

}
.cartel1pago{
    font-size: 16px;
}
.cartel2{
    font-size: 13px;
}

.datospago {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.felx {
    display: flex;
    width: 100%;
}
.deptopago{
    width: 50%;
}

.productosmenupago {
    list-style: none;
}
*/
/* FOOTER PAGO */
/*
.footerpago {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
}

*/

/* PAGADO */
/* HEADER PAGADO */
/*
.headerpagado {
    width: 100%;
    height: 25%;
    background-image: url(./assets/img/header-pagado.png);
    background-repeat: no-repeat;
    background-size: cover;
}

*/

/* MAIN PAGADO */
/*
.mainpagado {
    margin-top: 20%;
    text-align: center;
    
}
#cardpagado{
    width: 90%;
    margin: 13%;
}
*/

/* FOOTER PAGADO */
/*
.footerpagado {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
}
*/
/*
@media screen and (min-width: 768px){
    /*
    .itemsheader{
        flex-direction: row;
        
    }
    
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
        padding: 10%;
        
    }
    .col{
        width: 100%;
        height: 100%;
        margin-bottom: 0%;
        font-size: 15px;
    }
    */
    /*
    .titulosindex {
        font-size: 50px;
    }
    .substituloindex{
        font-size: 28px;
    }
    #barra{
        font-size: 20px;
    }
    ul{
        list-style-type: none;
        padding-left: 0%;
        padding: 0%;
    }
    */
    /*
    #descuento{
        width: 10%;
    }
    #nombreproducto{
        font-size: 24px;
    }
    #precioproducto{
        font-size: 21px;
    }
    .preguntapre{
        font-size: 25px;
    }
    
    .cardscontacto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr ;
        gap: 5%;
        padding: 5%;
    }
    .card{
        margin: 0%;
    }
    .cartel1pago{
        font-size: 20px;
    }
    .cartel2{
        font-size: 17px;
    }
        
}

*/
/*
@media screen and (min-width: 1024px){
    /*.itemsheader{
        flex-direction:row-reverse;
        
    }
    
    
    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr ;
        gap: 5%;
        padding: 5%;
        
    }
    .col{
        width: 100%;
        height: 100%;
        margin-bottom: 0%;
        font-size: 10px;
    }*/
    /*
    .titulosindex {
        font-size: 50px;
    }
    .substituloindex{
        font-size: 28px;
    }
    #barra{
        font-size: 20px;
    }
    ul{
        list-style-type: none;
        padding-left: 0%;
        padding: 0%;
    }*/
    /*
    #nombreproducto{
        font-size: 20px;
    }
    #precioproducto{
        font-size: 17px;
    }
    #descuento{
        font-size: 20px;
        width: 8%;
        
    }
    
    .preguntapre{
        font-size: 30px;
    } 
    .cardscontacto{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr ;
        gap: 5%;
        padding: 5%;
    }
    .card{
        margin: 0%;
    }
    .main-pagado {
        margin-top: 10%;
        text-align: center;
        
    }
    .footerpagado {
        margin-top: 10%;
        
    }
    
}
*/

