/* scss contacto */

/* header contacto*/
.container-contacto{
    background-image: url(../assets/img/header-neo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* main contacto*/

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}
/*@include sizes(100%, 100%);*/

@mixin ancho($ancho){
    width: $ancho;
}
/*@include ancho(100%);*/

.main-contacto {
    text-align: center;
    

    @include ancho(100%);
    .contactoscon{
        margin-top: 10%;
        font-size: 25px;
    }
    .cardscontacto {
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-rows: repeat(4, 1fr);


        .card {
            @include ancho(50%);
            margin-top: 2%;
            margin-bottom: 3%;
            
        }
        #card-arg{
            border: 1px solid rgb(53, 133, 179);
            .bandera{
                width:100%;
                border: 1px solid rgb(53, 133, 179);
            }
            .card-title-arg{
                font-size: 20px;
            }
            .card-text-arg{
                font-weight: 350;
                font-size:  15px;
                margin-bottom: 0px;
            }
            
        }
        #card-br{
            border: 1px solid rgb(44, 94, 53);
            .bandera{
                width:100%;
                border: 1px solid rgb(44, 94, 53);
            }
            .card-title-br{
                font-size: 20px;
            }
            .card-text-br{
                font-weight: 350;
                font-size:  15px;
                margin-bottom: 0px;
            }
        }
        #card-uy{
            border: 1px solid rgb(27, 62, 214);
            .bandera{
                width:100%;
                border: 1px solid rgb(27, 62, 214);
            }
            .card-title-uy{
                font-size: 20px;
            }
            .card-text-uy{
                font-weight: 350;
                font-size:  15px;
                margin-bottom: 0px;
            }
        }
        #card-cl{
            border: 1px solid rgb(255, 0, 0);
            .bandera{
                width:100%;
                border: 1px solid rgb(255, 0, 0);
            }
            .card-title-cl{
                font-size: 20px;
            }
            .card-text-cl{
                font-weight: 350;
                font-size:  15px;
                margin-bottom: 0px;
            }
        }
        
    }
    #formulario-contacto{
        
        align-items: center;
        justify-items: center;
        margin-top: 5%;
        @include ancho(100%);
        h2{
            font-size: 20px;
        }
        #nombre-contacto{
            @include ancho(30%);
        }
        #email-contacto{
            @include ancho(30%);
        }
        #cuadro-contacto{
            @include ancho(30%);
        }
        #enviar-contacto{
            color: antiquewhite;
            background-color: #0f1ab6f3;
        }
    }
    
}

/* footer contacto*/
.fondo-footer-contacto{
    margin-top: 5%;
    padding-top: 5%;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
    background-color: #0f1ab6f3;
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
}