/* SCSS INDEX*/

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* header index */

.container-index {
    background-image: url(../assets/img/header-kanye.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(100%, 100%);
}

/* main index */

$color-borde: 2px solid rgb(204, 204, 204);

main {
    .productos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 80px 0px;
        align-items: center;

        .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 10px;
            font-family: 'Bebas Neue', sans-serif;

            .col {
                @include sizes(60%, 60%);
                margin-bottom: 5%;

                .forum {
                    @include sizes(100%, 100%);
                    text-align: center;
                    border: $color-borde;
                    border-radius: 20px;
                    overflow: hidden;

                    .descuento {
                        font-weight: bold;
                        @include sizes(30%, 7%);
                        position: relative;
                        margin: 10%;
                        font-size: 21px;
                    }

                    .bb {
                        @include sizes(90%, 50%);
                        margin-top: -8%;
                    }

                    .nombreproducto {
                        font-size: 19px;
                    }

                    .precioproducto {
                        font-size: 16px;
                    }

                    .comprar {
                        margin-bottom: 5%;

                        button {
                            background-color: #460075;
                            border-color: #460075;
                            -webkit-text-fill-color: rgb(218, 218, 218);
                        }

                        button:hover {
                            background-color: rgb(37, 37, 37);
                            border-color: rgb(37, 37, 37);
                            -webkit-text-fill-color: rgb(255, 255, 255);
                        }
                    }


                }

                .travis {
                    @include sizes(100%, 100%);
                    text-align: center;
                    border: $color-borde;
                    border-radius: 20px;
                    overflow: hidden;

                    .descuento {
                        font-weight: bold;
                        @include sizes(30%, 3%);
                        position: relative;
                        margin: 10%;
                        font-size: 21px;
                    }

                    .am1index {
                        @include sizes(70%, 27%);
                        margin-top: 25%;
                        margin-bottom: 2%;
                    }

                    .nombreproducto {
                        font-size: 19px;
                    }

                    .precioproducto {
                        font-size: 16px;
                    }

                    .comprar {
                        margin-bottom: 5%;

                        a {
                            button{
                                background-color: #460075;
                            border-color: #460075;
                            -webkit-text-fill-color: rgb(218, 218, 218);
                            }
                            
                        }

                        button:hover {
                            background-color: rgb(37, 37, 37);
                            border-color: rgb(37, 37, 37);
                            -webkit-text-fill-color: rgb(255, 255, 255);
                        }
                    }
                }

                .stussy {
                    @include sizes(100%, 100%);
                    text-align: center;
                    border: $color-borde;
                    border-radius: 20px;
                    overflow: hidden;

                    .descuento {
                        font-weight: bold;
                        @include sizes(30%, 3%);
                        position: relative;
                        margin: 10%;
                        font-size: 21px;
                    }

                    .stsy {
                        @include sizes(60%, 40%);
                        margin-top: 10%;
                    }

                    .nombreproducto {
                        font-size: 19px;
                    }

                    .precioproducto {
                        font-size: 16px;
                    }

                    .comprar {
                        margin-bottom: 5%;

                        a {
                            button{
                                background-color: #460075;
                            border-color: #460075;
                            -webkit-text-fill-color: rgb(218, 218, 218);
                            }
                            
                        }

                        button:hover {
                            background-color: rgb(37, 37, 37);
                            border-color: rgb(37, 37, 37);
                            -webkit-text-fill-color: rgb(255, 255, 255);
                        }
                    }
                }

                .zip {
                    @include sizes(100%, 100%);
                    text-align: center;
                    border: $color-borde;
                    border-radius: 20px;
                    overflow: hidden;

                    .descuento {
                        font-weight: bold;
                        @include sizes(30%, 3%);
                        position: relative;
                        margin: 10%;
                        font-size: 21px;
                    }

                    .zippr {
                        @include sizes(55%, 45%);
                        margin-top: 8%;
                        margin-bottom: -4%;
                    }

                    .nombreproducto {
                        font-size: 19px;
                    }

                    .precioproducto {
                        font-size: 16px;
                    }

                    .comprar {
                        margin-bottom: 5%;

                        a {
                            button{
                                background-color: #460075;
                            border-color: #460075;
                            -webkit-text-fill-color: rgb(218, 218, 218);
                            }
                            
                        }

                        button:hover {
                            background-color: rgb(37, 37, 37);
                            border-color: rgb(37, 37, 37);
                            -webkit-text-fill-color: rgb(255, 255, 255);
                        }
                    }
                }

            }
        }
    }

    .productosmenu {
        text-align: center;
        list-style-type: none;
        font-size: 24px;
        font-family: 'Bebas Neue', sans-serif;
        margin-top: 5%;


        .nav-link {
            color: #222222;
        }

        .nav-link:hover {
            color: red;
            text-decoration: underline;
        }
    }
}

/* footer index */

.fondo-footer-index {
    background-color: #460075;
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-top: 5%;
}