/* scss nosotros */

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* header nosotros */
.container-nosotros {
    background-image: url(../assets/img/ysy-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(100%, 100%);
}




@mixin ancho($ancho) {
    width: $ancho;
}

/* main nosotros */
.main-nos {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #titulo-nosotros {
        font-size: 30px;
    }

}

/* footer nosotros */
.fondo-footer-nosotros {
    padding-top: 5%;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
    background-color: rgb(100, 0, 139);
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
}