/* scss nosotros */ 

/* header nosotros */
.fondo-header-nosotros {
    background-image: url(./assets/img/header-ysy.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* main nosotros */
.main-nos{
    padding: 5%;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    #carta{
        width: 50%;
        
        .card-title{
            font-size: 25px;
        }
        
    }
    #carouselExampleAutoplaying{
        width: 50%;
        
    }
}
/* footer nosotros */
.fondo-footer-nosotros {
    padding-top: 5%;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
    background-color: rgb(65, 0, 139);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}