/* scss pagado */

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin ancho($ancho) {
    width: $ancho;
}

/* header pagado*/
.container-pagado {
    background-image: url(../assets/img/header-pagado.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(100%, 100%);
}

/* main pagado*/
.main-pagado {
    margin-top: 40%;
    margin-bottom: 40%;
    text-align: center;

    #cardpagado {
        @include ancho(90%);
        margin: 13%;
    }
}

/* footer pagado*/
.fondo-footer-pagado {
    margin-top: 5%;
    padding-top: 5%;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
    background-color: #0f0f0f;
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
}