/* scss pago */

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin ancho($ancho) {
    width: $ancho;
}

/* header pago*/
.container-pago {
    background-image: url(../assets/img/header-pago.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(100%, 100%);

}

/* main pago*/
.main-pago {
    text-align: center;
    margin: 19%;

    .formulario {
        @include ancho(100%);
        display: grid;
        font-size: 10px;
        font-size: 15px;

        .cartel1pago {
            font-size: 30px;
        }

        .cartel2 {
            font-size: 20px;
        }

        .datospago {
            @include ancho(80%);
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .felx {
            @extend .datospago;
            display: flex;
            flex-direction: row;
            margin-left: 10%;

            .deptopago {
                @include ancho(50%);
            }
        }

        .productosmenupago {
            list-style: none;
        }

        #form {
            font-size: 20px;
        }

        .enviar {
            margin-bottom: 5%;

            a {
                background-color: #0f0f0f;
                border-color: #0f0f0f;
                -webkit-text-fill-color: rgb(218, 218, 218);
            }
        }
    }
}

/* footer pago*/
.fondo-footer-pago {
    margin-top: 5%;
    padding-top: 5%;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
    background-color: #0f0f0f;
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
}