/* scss preguntas */

/* header preguntas*/
.container-preguntas {
    background-image: url(../../assets/img/barderos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}

/* main preguntas*/
.main-preguntas {
    list-style: none;
    padding: 10%;
    text-align: left;
    width: 100%;
    height: 50%;

    .preguntapre {
        font-size: 20px;
    }
    .accordion-header{
        color: aqua;
    }
    #accordionExample {
        padding: 10%;

        .accordion-body {
            display: flex;

            .foto-envios {
                width: 50%;
            }

            .foto-no {
                width: 50%;
            }

            .foto-pago {
                width: 50%;
            }

            h3 {
                font-size: 15px;
                width: 100%;
            }
        }

    }
}

/* footer preguntas*/
.footerpre {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;

    background-color: #141630;
    display: flex;
    flex-direction: column;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;

    .fondo-footer-preguntas {
        margin-top: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}