/* scss productos */

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

/* header productos*/
.container-productos {
    background-image: url(../assets/img/header-drake.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include sizes(100%, 100%);
}

/* main productos*/



@mixin ancho($ancho) {
    width: $ancho;
}

main {
    .col {

        .forum {
            
            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .travis {
            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .stussy {
            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .zip {
            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .balaclava {
            @include sizes(100%, 100%);
            text-align: center;
            border: $color-borde;
            border-radius: 20px;
            overflow: hidden;

            .sprm {
                @include sizes(90%, 40%);
                margin-top: 32%;
                margin-bottom: 2%;
            }

            .nombreproducto {
                font-size: 19px;
            }

            .precioproducto {
                font-size: 16px;
            }

            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .bearbrick {
            @include sizes(100%, 100%);
            text-align: center;
            border: $color-borde;
            border-radius: 20px;
            overflow: hidden;

            .brb {
                @include sizes(65%, 40%);
                margin-top: 35%;
                margin-bottom: -1%;
            }

            .nombreproducto {
                font-size: 19px;
            }

            .precioproducto {
                font-size: 16px;
            }

            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .jarritos {
            @include sizes(100%, 100%);
            text-align: center;
            border: $color-borde;
            border-radius: 20px;
            overflow: hidden;

            .jarritospr {
                @include sizes(80%, 50%);
                margin-top: 33%;
                margin-bottom: -10%;
            }

            .nombreproducto {
                font-size: 19px;
            }

            .precioproducto {
                font-size: 16px;
            }

            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }

        .beanie {
            @include sizes(100%, 100%);
            text-align: center;
            border: $color-borde;
            border-radius: 20px;
            overflow: hidden;

            .beaniepr {
                @include sizes(80%, 40%);
                margin-top: 32%;
                margin-bottom: 2%;
            }

            .nombreproducto {
                font-size: 19px;
            }

            .precioproducto {
                font-size: 16px;
            }

            .comprar-productos {
                margin-bottom: 5%;

                button {
                    background-color: #2e1c08;
                    border-color: #2e1c08;
                    -webkit-text-fill-color: rgb(218, 218, 218);
                }

                button:hover {
                    background-color: rgb(124, 91, 69);
                    border-color: rgb(124, 91, 69);
                    -webkit-text-fill-color: rgb(255, 255, 255);
                }
            }
        }


    }

    .morepr {
        text-align: center;
        @include ancho(100%);
    }
}

/* footer productos*/
.fondo-footer-productos {
    margin-top: 5%;
    padding-top: 5%;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Train One', system-ui;
    font-style: italic;
    background-color: #2e1c08;
    @include sizes(100%, 100%);
    display: flex;
    flex-direction: column;
}