/* scss footer */

footer {
    width: 100%;
    height: 25%;
    text-align: center;

    .titulofooter {
        text-align: center;
        height: 20%;
        width: 100%;

        margin-bottom: 2%;

        .titulo {
            font-size: 35px;
            -webkit-text-fill-color: #ffffff;
            height: 80%;
            font-family: 'Train One', system-ui;
            font-style: italic;
        }

        .substitulo {
            font-size: 18px;
            -webkit-text-fill-color: #ffffff;
            font-family: 'Train One', system-ui;
            font-style: italic;
        }
    }

    .suscripcion {
        -webkit-text-fill-color: #979393;
        align-self: center;
        align-content: center;
        justify-content: center;
        font-size: 10px;
        margin-bottom: 5%;
        font-family: 'Bebas Neue', sans-serif;
        width: 50%;

        .cartelsus {
            font-size: 15px;
            margin-top: 5%;
        }

        .rellenar {
            display: flex;
            width: 100%;

            .email {
                width: 70%;
                font-size: 15px;
            }

            .boton {
                width: 30%;
                font-size: 15px;
            }
        }

    }

    .copy {
        width: 100%;
        font-size: 16px;
        -webkit-text-fill-color: #979393;
        margin-top: 5%;
        font-family: 'Bebas Neue', sans-serif;
    }
}