/* scss header */

header {
    width: 100%;
    height: 25%;

    .itemsheader {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        #logo {
            margin-top: 5%;
            text-align: center;
            height: 10%;
            justify-content: center;

            #titulo {
                font-size: 35px;
                -webkit-text-fill-color: #949494;
                height: 80%;
                font-family: 'Train One', system-ui;
                font-style: italic;
            }

            #substitulo {
                font-size: 18px;
                -webkit-text-fill-color: #949494;
                font-family: 'Train One', system-ui;
                font-style: italic;
                font-weight: 580;
            }
        }

        #barra {
            font-size: 22px;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-family: 'Bebas Neue', sans-serif;

            ul {
                list-style-type: none;
                padding-left: 0%;
                padding: 0%;
            }
        }

    }



}