/* scss header */


$gris: #949494;

header {
    width: 100%;
    height: 25%;

    .navbar-expand-lg{
        padding: 0%;
        .container-fluid{

            justify-content: space-between;
            align-items: left;
            padding: 5%;
            .logo {
                
                text-align: center;
                height: 10%;
                justify-content: center;
    
                .titulo {
                    font-size: 35px;
                    color: $gris;
                    height: 80%;   
                    font-family: 'Train One', system-ui;
                    font-style: italic;
                    text-decoration: none;
                }
    
                .substitulo {
                    font-size: 18px;
                    color: $gris;
                    font-family: 'Train One', system-ui;
                    font-style: italic;
                    font-weight: 580;
                    
                }
            }
            .menu-button{
                border: 0;
            }
            .menu-button:focus{
                box-shadow: none;
            }
            .navbar-toggler-icon{
                background-image: url(../assets/img/logo-menu.png);
            }
            .navbar-collapse{
                flex-grow: 0;
                .barra {
                    font-size: 22px;
                    margin-top: 2%;
                    display: flex;
                    flex-direction: column;
                    font-family: 'Bebas Neue', sans-serif;
        
                    ul {
                        list-style-type: none;
                        padding-left: 0%;
                        padding: 0%;
                        .nav-link{
                            color: $gris;
                        }
                        .nav-link:hover{
                            color: red;
                            text-decoration: underline;
                        }
                    }
                }
            }
            
        }
    }
    
    .itemsheader {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .logo {
            margin-top: 5%;
            text-align: center;
            height: 10%;
            justify-content: center;

            .titulo {
                font-size: 35px;
                color: $gris;
                height: 80%;
                
                font-family: 'Train One', system-ui;
                
                font-style: italic;
            }

            .substitulo {
                font-size: 18px;
                color: $gris;
                font-family: 'Train One', system-ui;
                font-style: italic;
                font-weight: 580;
                
            }
        }

        .barra {
            font-size: 22px;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-family: 'Bebas Neue', sans-serif;

            ul {
                list-style-type: none;
                padding-left: 0%;
                padding: 0%;
                .nav-link{
                    color: $gris;
                }
                .nav-link:hover{
                    color: red;
                    text-decoration: underline;
                }
            }
        }

    }



}